#intro-contacts {
  right: -100%;
  padding: 2vh 2vw;
  z-index: 2000;
  position: fixed;
  top: 0;
  right: -500px;
  height: 100vh;
  flex-direction: column-reverse;
  justify-content: start;
  gap: 20px;
  background-color: black;
}
